<h1 class="page-header">Dashboard</h1>

<div class="row">
  <div class="col-md-6">
    <%= recent_activity @recent_activity_posts %>
  </div>
  <div class="col-md-6">
    <%= product_news @product_news_posts %>
  </div>
</div>
